<H1>Dostupné moduly:</H1>

<p>Modul kontaktní formulář </p>

<?php foreach ($modules as $modul): ?>

	 <div class="col-md-12 ">
      

        <div class="panel panel-default">
        	<div class="row">
		     
		      	<div class="col-sm-12">
		      		<p class="lead" style="margin-top: 5px;"><a href="<?= $modul['slug'] ?>" ><?= $modul['name'] ?> </a>- <?= $modul['verze']; ?> - aktivovat</p> 

		      		 <div class="border mx-auto mb-2" style="width: 100px;"></div>
		            <p><em> <?= $modul['description'] ?></em></p>
		      	</div>
         
        </div><!--/panel--> 
</div></div>

<?php endforeach; ?>