<h1>Přehled aktivit</h1>

 <?php


   $log = new logovaniModule;
  $act = $log->get_activities($_SESSION['user']['user_id']);




   ?>





<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>IP Adresa</th>
      <th>Datum</th>
      <th>Strana</th>
    </tr>
  </thead>
  <tbody>

  	<?php foreach ($act as $row): ?>
      <?php
      $page = json_decode($row['page']);
      $count = count($page);
      if($page[$count-1] == ""){
        unset($page[$count-1]);
      }
      $page = join(" -> ",$page);

      $phpdate = strtotime( $row['datetime'] );
      $date = date( 'd.m.Y H:i:s', $phpdate );


      ?>
  		<tr>
      <th scope="row"><?= $row['id'] ?></th>
		  <td><?= $row['IP'] ?></td>
		  <td><?= $date ?></td>
		  <td><?= $page ?></td>
		</tr>
  	<?php endforeach; ?>
    
  
  </tbody>
</table>




