<h1>Editace profilu</h1>

  <script>
  tinymce.init({
    selector: '#mytextarea'
    
  });
  </script>
<form method="post" enctype="multipart/form-data" action="admin/profil/">
        <div class="form-group">
                 <input type="hidden" class="form-control" name="img_url" value="<?php print_option('web_photo'); ?>" />
        </div>
        <div class="form-group">
                <label for="title">Název webu</label>
                 <input type="text" id="title" name="web_name" class="form-control" value="<?php print_option('web_name'); ?>" />
        </div>
		<div class="form-group">
                <label for="title">Motto poslance</label>
                 <input type="text" id="title" name="user_motto" class="form-control" value="<?php print_option('user_motto'); ?>" />
        </div>
        <div class="form-group">
              
                <label for="file">Fotografie poslance</label>
                <input type="file" id="file" name="web_photo" class="form-control">
               
        </div>
        <div class="form-group">
                <label for="title">Email</label>
                 <input type="text" id="title" name="email" class="form-control" value="<?php print_option('email'); ?>" />
        </div>
          <div class="form-group">
                <label for="title">Adresa regionální kanceláře</label>
                 <input type="text" id="title" name="kancelar" class="form-control" value="<?php print_option('kancelar'); ?>" />
        </div>
        <div class="form-group">
                <label for="title">Stránka O Mně</label>
                  <textarea id="mytextarea" class="form-control" name="omne"><?php print_option('omne'); ?></textarea>
        </div>



       
         <button type="submit" class="btn btn-primary" name="save-profil" value="Uložit změny">Uložit změny</button>


</form>