<form method="POST">
	<p>Nastavení regionální kanceláře. Pokud nevyplníte adresu, nebude se zobrazovat na webu</p>
	<div class="form-group">
		<label for="fb">Adresa</label>
		<input type="text" name="fb" class="form-control" value="<?php print_option('fb'); ?>">
	</div>
	<div class="form-group">
		<label for="linkedin">LinkedIn Link</label>
		<input type="text" name="linkedin" class="form-control" value="<?php print_option('linkedin'); ?>">
	</div>
	<div class="form-group">
		<label for="pirati">Piráti Link</label>
		<input type="text" name="pirati" class="form-control" value="<?php print_option('pirati'); ?>">
	</div>
	<div class="form-group">
		<label for="pirati">Google kalendář link</label>
		<input type="text" name="g_calendar" class="form-control" value="<?php print_option('g_calendar'); ?>">
	</div>
	<button class="btn btn-primary" name="save-social">Uložit</button>
	


</form>