
<div class="col-md-12 text-right" >
	<a href="/editor/" class="btn btn-primary" style="margin-bottom: 10px;"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Přidat nový článek</a>
</div>

<?php foreach ($articles as $article) : ?>

 <div class="col-md-12 ">
      

        <div class="panel panel-default">
        	<div class="row">
		      	<div class="col-sm-3" style="    background: whitesmoke;display:  flex;justify-content:  center;align-items:  center;min-height: 180px;">
		      		<?php
		      			if(!empty($article['thumbnail'])){
		      				$thumbnail = "/".$article['thumbnail'];
		      			}else $thumbnail = "http://via.placeholder.com/350x230";
		      		?>
		      		<img src="<?php echo $thumbnail; ?>" class="img-responsive" style="width: 100%">
		      	</div>
		      	<div class="col-sm-9">
		      		<p class="lead " style="margin-top: 5px;">
		      			<div class="row" style=" margin-right: 5px;" >
		      				<div class="col-sm-7">
		      					<a class="admin-article-header" href="/article/<?= $article['url'] ?>" ><?= $article['title'] ?></a>
		      				</div>
		      				<div class="col-sm-5 text-right">
		      					<a href="/editor/<?= $article['url'] ?>" class="btn btn-success" > <i class="fa fa-pencil" aria-hidden="true"></i> Zobrazit v editoru</a>
		      					<a href="/admin/blog/<?= $article['url'] ?>/remove" class="btn btn-danger" onclick="return confirm('Opravdu chcete smazat článek? Tuto akci nelze vzít zpět.')"><i class="fa fa-times" aria-hidden="true"></i> Smazat</a>
		      				</div>
		      			</div>
		      		</p>
		      			
		      		
		      		 <div class="border mx-auto mb-2" style="width: 100px;"></div>
		            <p><em> <?= $article['description'] ?></em></p>
		            <p></p>
		            <p></p>
		      	</div>
         
        </div><!--/panel--> 
</div></div>

<?php endforeach ?>





