<header>
        <h1><?= $title ?></h1>
        <?php
		      				$thumbnail = "/".$article['thumbnail'];
		      		?>
		      		<img src="<?php echo $thumbnail; ?>" class="img-responsive" style="width: 100%">
</header>
<section>
        <?= $_content ?>
</section>


