<h1>Kontaktní formulář</h1>

<p>Kontaktujte nás odesláním formuláře níže.</p>

<form method="post" id="form-email">
        
    <div class="form-group">
    	<div class="row">
    		<div class="col-md-6">
    			<label for="email">Váš Email</label>
					<input type="email" name="email"  class="form-control" required="required" value="<?php if (isset($_POST['email'])) echo(htmlspecialchars($_POST['email'])); ?>" />
				</label>
    		</div>
    		<div class="col-md-6">
    			<label for="email">Zadejte akutální rok</label>
					 <input type="text" name="rok" class="form-control" required="required" /><br />
				</label>
    		</div>
    	</div>
		
	</div>
	<div class="form-group">
		<label for="vzkaz">Váš vzkaz</label>
			<textarea name="zprava" class="form-control"><?php if (isset($_POST['zprava'])) echo(htmlspecialchars($_POST['zprava'])); ?></textarea>
	</div>
	<button value="Odeslat" class="btn btn-info">Odeslat</button>
</form>


