
<style type="text/css">
	iframe{
		width: 100%!important;
	}
</style>

<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ndd91kcpm6fsorbq8o12j90r08%40group.calendar.google.com&amp;color=%23691426&amp;ctz=Europe%2FPrague" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>