      <div class="row">
        
        <div class="col-xs-4 col-sm-4 col-md-2">
          <img src="<?php echo get_photo(); ?>" style="width: 100%">
        </div>
      
        <div class="col-xs-8 col-sm-8 col-md-10">
          <h1 class="display-4"><?php echo get_web_name(); ?></h1>
          <blockquote class="blockquote quote">
            <p class="mb-0">„<?php echo get_motto(); ?>“</p>
          </blockquote>

          <div class="row">
            

            <?php if($fb = get_social("fb")): ?>
              <div class="col-md-2">
                <a href="<?php echo $fb?>" class="fbbtn"> <i class="fa fa-facebook-square"> </i> FB profil </a>
              </div>
            <?php endif;?>
            <?php if($twitter = get_social("twitter")): ?>
              <div class="col-md-2">
                <a href="<?php echo $twitter?>" class="inbtn"> <i class="fa fa-twitter" aria-hidden="true"></i>  Twitter </a>
              </div>
            <?php endif;?>
            <?php if($li = get_social("linkedin")): ?>
                <div class="col-md-2">
                  <a href="<?php echo $li?>" class="inbtn"><i class="fa fa-linkedin" aria-hidden="true"></i>  linkedIn</a>
                </div>
            <?php endif;?>

            <?php if($pirati = get_social("pirati")): ?>
                <div class="col-md-2">

                  <a href="<?php echo $pirati?>" class="piratibtn"><img src="https://www.pirati.cz/assets/img/brand/logo.svg" width="20"> Pirati.cz</a>
                </div>
            <?php endif;?>

          
          
          </div>

        </div>
      </div>
    <div class="clearfix"></div>
      <div class="row" style="border-top: 1px solid #dadada;">

        <div class="col-md-12 text-center mt-3 mb-3">
          <h2 class="diplay-4">Blog</h2>
        </div>


      <?php $i = 0 ?>
          <?php foreach ($articles as $article) : ?>
            <?php if($i == 3) break; ?>
            <?php $i++; ?>
           <div class="col-md-4 col-xs-12">
                
                  <div class="panel panel-default">
                   <div class="panel-thumbnail"><?php
                if(!empty($article['thumbnail'])){
                  $thumbnail = "/".$article['thumbnail'];
                }else $thumbnail = "http://via.placeholder.com/350x230";
              ?>
              <img src="<?php echo $thumbnail; ?>" class="img-responsive" style="width: 100%"></div>
                    <div class="panel-body">
                      <p class="lead"><a href="article/<?= $article['url'] ?>" ><?= $article['title'] ?></a></p> 
                       <div class="border mx-auto mb-2" style="width: 100px;"></div>
                      <p><em> <?= $article['description'] ?></em></p>
                      
                   
                    </div>
                  </div><!--/panel--> 
          </div>

          <?php endforeach ?>
          <div class="col-md-12 text-center">
            <a href="/article" class="btn btn-info">Zobrazit více</a>
          </div>
    </div>
    <div class="clearfix"></div>
    <?php if(get_option('show-twitter-widget')['value'] == "true"): ?>
      <div class="row" style="border-top: 1px solid #dadada;">

        <div class="col-md-12 text-center mt-3 mb-3">
          <h2 class="diplay-4">Twitter</h2>
        </div>
        <div class="col-md-8 offset-md-2">
          <a class="twitter-timeline"  data-tweet-limit="3" href="<?php print_option('twitter'); ?>">Tweety</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        


 

        
      </div>
    <?php endif; ?>