<!doctype html>
<html lang="cs">
  <head>
     <title><?= $title; ?> </title>
     <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="<?= $desc ?>" />
    <meta name="keywords" content="<?= $keywords ?>" />
    <script src="https://use.fontawesome.com/68cdf706aa.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style type="text/css">
    body{
    	  color: <?php print_option('web_text_color'); ?>!important;
        background-color: <?php print_option('web_bg_color'); ?>!important;
    }
      #footer {
        /* height: 60px; */
         color: <?php print_option('footer_text_color'); ?>!important;
        background-color: <?php print_option('footer_bg_color'); ?>!important;
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }.bg-dark{
       background-color: <?php print_option('header_bg_color'); ?>!important;
       color: <?php print_option('header_text_color'); ?>!important;
    }.nav-link{color: <?php print_option('header_text_color'); ?>!important;}
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>


  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="<?php echo get_home_url(); ?>"><?php echo WEB_TITLE; ?></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<?php echo get_home_url(); ?>">Domů <span class="sr-only">(aktuální)</span></a>
          </li>
          
          
           <?php if(get_social("omne")): ?>
            <li class="nav-item">
            <a class="nav-link" href="/o-mne/">O mně</a>
          </li>
            <?php endif;?>
             <li class="nav-item">
            <a class="nav-link" href="/article/">Blog</a>
          </li>
           <?php if(get_social("g_calendar")): ?>
            <li class="nav-item">
            <a class="nav-link" href="/kalendar/">Google Kalendář</a>
          </li>
            <?php endif;?>
             <?php if(get_social("kancelar")): ?>
            <li class="nav-item">
            <a class="nav-link" href="/kancelar/">Regionální kancelář</a>
          </li>
            <?php endif;?>
           <li class="nav-item">
            <a class="nav-link" href="/kontakt/">Kontakt</a>
          </li>
          
        </ul>
        
      </div>
      </div>
    </nav>
    <div class="container">
      <div class="clearfix">
      </div>
    <?php $this->controler->render(); ?>

      <!-- BLOG END -->

      
    </div>
   
<div id="footer" class="bg-dark">
  <div class="container">
    <div class="row">
     
      <div class="col-md-4">
        <img src="https://www.pirati.cz/assets/img/brand/logo_napis_white.png" style="width: 60%"> <br><br>
        <p>© Piráti, 2017. Všechna práva vyhrazena. Sdílejte a nechte ostatní sdílet za stejných podmínek.</p>
        <!-- Begin MailChimp Signup Form -->
		<style type="text/css">
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="https://jakubmudra.us17.list-manage.com/subscribe/post?u=3634bd8224f02e49053fbada3&amp;id=a1f7150d39" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL">Přihlásit k odběru novinek</label>
			<div class="row">
				<div class="col-md-8">
					<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Váš email" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input class="form-control" type="text" name="b_3634bd8224f02e49053fbada3_a1f7150d39" tabindex="-1" value=""></div>
				</div>
				<div class="col-md-2">
					<input type="submit" value="Přihlásit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-info"></div>

			</div>
			
		    </div>
		</form>
		</div>

<!--End mc_embed_signup-->
      </div>
      <div class="col-md-2">
        <p class="mb-1" style="font-weight: bold;font-size: 20px;">O nás</p>
        <p class="mb-1"><a href="http://pirates.jakubmudra.cz/slider.html">Lidé</a></p>
        <p class="mb-1"><a href="https://www.pirati.cz/regiony/">Regiony</a></p>
        <p class="mb-1"><a href="https://www.pirati.cz/program/">Program</a></p>
        <p class="mb-1"><a href="https://www.pirati.cz/aktuality/">Aktuality</a></p>
        <p class="mb-1"><a href="https://www.pirati.cz/pripoj-se/kalendar/">Kalendář</a></p>
      </div>
      <div class="col-md-2">
        <p class="mb-1" style="font-weight: bold;font-size: 20px;">O mně</p>
        <?= (get_option('fb')) ? "<p class='mb-1'><a href='".get_option('fb')['value']."'>Facebook</a></p>" : "" ?>
       <?= (get_option('pirati')) ? "<p class='mb-1'><a href='".get_option('pirati')['value']."'>Piráti</a></p>" : "" ?>
        <?= (get_option('linkedin')) ? "<p class='mb-1'><a href='".get_option('linkedin')['value']."'>LinkedIn</a></p>" : "" ?>
        <?= (get_option('g_calendar')) ? "<p class='mb-1'><a href='/kalendar/'>Google kalendář</a></p>" : "" ?>
      </div>
     
    <?php if(get_option('show-fb-widget')['value'] == "true"){
      ?>
       <div class="col-md-4">
        <div class="fb-page" data-href="<?php print_option('fb'); ?>" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="<?php print_option('fb'); ?>" class="fb-xfbml-parse-ignore"><a href="<?php print_option('fb'); ?>">Facebook profil</a></blockquote></div>
      </div>

      <?php } ?>
      
  </div>
    
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>